*, *:before, :after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
    color: #4373C2;
    font-weight: 700;
    margin-left: auto;
}

a {
    text-decoration: none;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 25px;
}

.header {
    background-color: #fff;
    display: flex;
    box-shadow: 0 0 15px rgb(0 0 0 / 35%);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header_wrapper {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: 700;
}

.header_go {
    color: #4373C2;
    font-weight: 700;
}

.logo_link {
    text-decoration: none;
    color: #464646;
}

.nav {
    list-style: none;
}

.nav li {
    display: inline-block;
}

.nav li a {
    display: inline-block;
    text-decoration: none;
    color: #464646;
    margin-left: 55px;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

.nav li a:hover,
.nav li a:focus {
    border-bottom: 2.2px solid #4373C2;
}

.nav li.active a {
    border-bottom: 2.2px solid #4373C2;
}

.nav li.btn a {
    color: #fff;
    background: #4373C2;
    border-radius: 5px;
    padding: 10px 32px;
}

.nav li.btn:hover a {
    color: #fff;
    background: #477FDC;
    transition: 0.3s;
}

.intro {
    padding-top: 105px;
    padding-bottom: 25px;
}

.intro_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro_text {
    width: 600px;
}

.intro_image {
    width: 600px;
    align-items: center;
}

.intro_title {
    font-size: 36px;
    font-weight: 700;
    color: #404040;
}

.intro_subtitle {
    font-size: 18px;
    font-weight: 500;
    color: #868686;
    max-width: 420px;
    padding-top: 22px;
    padding-bottom: 26px;
    line-height: 1.52em;
}

.button {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 13px 40px;
    border-radius: 5px;
    transition: background 0.1s linear;
    text-align: center;
    background: #4373C2;
}

.button:hover {
    background: #477FDC;
}

.lorry {
    width: 576px;
}

.footer {
    background-color: #fff;
    display: flex;
    box-shadow: 0 0 15px rgb(0 0 0 / 35%);
    width: 100%;
    z-index: 3;
}

.footer_inner {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}