*, *:before, :after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.6em;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    color: #444;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 25px;
}

.header {
    background-color: #fff;
    display: flex;
    box-shadow: 0 0 15px rgb(0 0 0 / 35%);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header_wrapper {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: 700;
}

.go {
    color: #4373C2;
}

.logo_link {
    text-decoration: none;
    color: #464646;
}

.ham {
    height: 21px;
    width: 40px;
    position: absolute;
    right: 5%;
    top: 29px;
    z-index: 5;
    cursor: pointer;
    display: none;
}

.ham span {
    display: block;
    width: 100%;
    height: 3px;
    background: #4373C2;
    transition: 0.35s;
    transition-property: transform, opacity;
}

.ham span:nth-child(2) {
    margin: 7px 0px;
}

.nav {
    list-style: none;
}

.nav li {
    display: inline-block;

}

.nav li a {
    display: inline-block;
    text-decoration: none;
    color: #464646;
    margin-left: 55px;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

.nav li:not(:last-child) a:hover,
.nav li:not(:last-child) a:focus {
    border-bottom: 2.2px solid #4373C2;
}

.nav li.active a {
    border-bottom: 2.2px solid #4373C2;
}

.nav li.btn a {
    color: #fff;
    background: #4373C2;
    border-radius: 5px;
    padding: 10px 32px;
}

.nav li.btn:hover a {
    color: #fff;
    background: #477FDC;
    transition: 0.3s;
}

@media screen and (max-width: 1125px){
    .ham {
        display: block;
        height: 30px;
    }
    .click {
        top: 28px;
    }
    .click span {
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child {
        transform: rotate(-40deg);
    }
    .click span:nth-child(2) {
        opacity: 0;
        margin: 0;
    }
    .click span:last-child {
        transform: rotate(40deg);
        top: 0px;
    }
    .nav {
        position: absolute;
        top: -16px;
        bottom: -16px;
        right: -65%;
        width: 65%;
        background: #f0f0f0;
        z-index: 3;
        padding: 6% 9%;
        transition: 0.3s right;
        position: fixed;
        box-shadow: 0 0 15px rgb(0 0 0 / 6%);
    }
    .nav li {
        display: block;
    }
    .nav li a {
        display: block;
        font-size: 18px;
        font-weight: 600;
        margin-left: 0;
        margin-bottom: 30px;
        border-bottom: none;
        text-align: center;
    }
    .nav li a:hover,
    .nav li a:focus {
        border-bottom: none;
        color: #4373C2;
    }
    .nav li.active a {
        border-bottom: none;
    }
    .nav li.btn a {
        position: absolute;
        bottom: 3%;
        right: 8%;
        left: 8%;
    }
    .nav.open {
        right: 0%;
    }
}

.intro {
    padding-top: 230px;
    padding-bottom: 166px;
    background: url('../images/reviews.jpg') no-repeat center top / cover;
}

.intro_wrapper {
    margin: 50px 0;
    text-align: center;
}

.intro_title {
    font-size: 42px;
    color: #fff;
    font-weight: 800;
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 1.5em;
}

.header_go {
    color: yellow;
}

.button {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 13px 40px;
    border-radius: 5px;
    transition: background 0.3s linear;
    text-align: center;
    background: #DC9C50;
    margin-top: 53px;
}

.button:hover {
    background: #E4A65B;
}
































.reviews_form {
    padding-top: 64px;
    padding-bottom: 64px;
    background: #ccc;
}

.form_container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 25px;
    justify-content: center;
    display: flex;
}

#review_form {
    height: 1px;
    background: #D1FAF3;
    padding-top: 40px;
}

.contacts {
    padding: 70px 0 110px 0;
    background-color: #D1FAF3;
}

.contacts__form {
    width: 100%;
    max-width: 800px;
}

hr {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    border: none;
    height: 1px;
    background-color: white;
}

.form_container {
    max-width: 1000px;
    width: 100%;
    background: #fff;
    padding: 30px 30px 20px 30px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgb(0 0 0 / 25%);
    margin-top: 30px;
}

.title_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title_wrapper a {
    position: absolute;
    right: 0;
}

.form_container .title {
    font-size: 25px;
    font-weight: 700;
    color: black;
    text-align: center;
    position: relative;
}

.sub_title {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    margin: 12px 0;
    color: #656565;
    width: 100%;
}

.form_container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 -5px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 3 - 20px);
}

form .user-details .input-box2 {
    margin-bottom: -10px;
    width: calc(100% / 2 - 17px);
}

form .user-details .input-box-last {
    margin-bottom: 15px;
    width: calc(100%);
    resize: vertical;
    outline: 0;
}

form .user-details .input-box2-last {
    margin-bottom: 15px;
    width: calc(100%);
    resize: vertical;
    outline: 0;
}

.user-details .input-box .details {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.user-details .input-box2 .details {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.user-details .input-box-last .details {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 25px;
}

.details span {
    color: red;
    font-size: 20px;
    font-weight: 500;
}

.user-details .input-box input,
.user-details .input-box select {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1.75px solid #ccc;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 16px;
    border-bottom-width: 1.75px;
    transition: all 0.3s ease;
}

.user-details .input-box2 input,
.user-details .input-box2 select {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1.75px solid #ccc;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 16px;
    border-bottom-width: 1.75px;
    transition: all 0.3s ease;
}

.user-details .input-box-last input,
.user-details .input-box-last select {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1.75px solid #ccc;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 16px;
    border-bottom-width: 1.75px;
    transition: all 0.3s ease;
}

.user-details .input-box2-last input,
.user-details .input-box2-last select {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1.75px solid #ccc;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 16px;
    border-bottom-width: 1.75px;
    transition: all 0.3s ease;
}

.input-box select {
    cursor: pointer;
    color: #707070;
    -webkit-appearance: none;
    appearance: none;
}

.input-box2 select {
    cursor: pointer;
    color: #707070;
    -webkit-appearance: none;
    appearance: none;
}

.input-box-last select {
    cursor: pointer;
    color: #707070;
    -webkit-appearance: none;
    appearance: none;
}

.input-box2-last select {
    cursor: pointer;
    color: #707070;
    -webkit-appearance: none;
    appearance: none;
}



.input-box input[type="date"] {
    color: #333;
    cursor: pointer;
}

.input-box input[type="date"]:valid {
    color: #333;
}

.user-details .input-box input:focus,
.user-details .input-box select:focus,
.user-details .input-box input:valid,
.user-details .input-box select:valid {
    border-color: grey;
    color: #333;
}

.user-details .input-box2 input:focus,
.user-details .input-box2 select:focus,
.user-details .input-box2 input:valid,
.user-details .input-box2 select:valid {
    border-color: grey;
    color: #333;
}

.textarea {
    min-height: 100px;
    max-height: 100px;
    width: 100%;
    padding: 4px 15px;
    font-size: 16px;
    font-weight: 400;
    resize: vertical;
    outline: 0;
    border: 0;
    color: #464646;
    border-bottom: 2px solid #464646;
    background-color: transparent;
    justify-content: space-between;
}

.submit_btn {
    height: 100%;
    width: 100%;
    max-width: 300px;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    background: #4373C2;
    margin-right: 20px;
    text-align: center;
    transition: all 0.3s ease;
}

.submit_btn:hover {
    background: #477FDC;
}

form .buttons {
    height: 45px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.submit_btn {
    /* Видаліть властивість margin-right */
    /* Додайте наступний рядок: */
    margin: 0 auto; /* Центруємо кнопку по горизонталі */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}