*, *:before, :after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
    color: #4373C2;
    font-weight: 700;
    margin-left: auto;
}

a {
    text-decoration: none;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 25px;
}

.header {
    background-color: #fff;
    display: flex;
    box-shadow: 0 0 15px rgb(0 0 0 / 35%);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header_wrapper {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: 700;
}

.header_go {
    color: #4373C2;
    font-weight: 700;
}

.logo_link {
    text-decoration: none;
    color: #464646;
}

.nav {
    list-style: none;
}

.nav li {
    display: inline-block;
}

.nav li a {
    display: inline-block;
    text-decoration: none;
    color: #464646;
    margin-left: 55px;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

.nav li a:hover,
.nav li a:focus {
    border-bottom: 2.2px solid #4373C2;
}

.nav li.active a {
    border-bottom: 2.2px solid #4373C2;
}

.nav li.btn a {
    color: #fff;
    background: #4373C2;
    border-radius: 5px;
    padding: 10px 32px;
}

.nav li.btn:hover a {
    color: #fff;
    background: #477FDC;
    transition: 0.3s;
}

.intro {
    padding-top: 140px;
    padding-bottom: 64px;
}

.intro_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro_text {
    width: 600px;
}

.intro_image {
    width: 600px;
    align-items: center;
}

.intro_title {
    font-size: 36px;
    font-weight: 700;
    color: #404040;
}

.intro_subtitle {
    font-size: 18px;
    font-weight: 500;
    color: #868686;
    max-width: 420px;
    padding-top: 22px;
    padding-bottom: 26px;
    line-height: 1.52em;
}

.lorry {
    width: 600px;
}

.cargo_statistics {
    background: #ECE5BE;
    padding-top: 64px;
    padding-bottom: 78px;
}

.header_text {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    padding-top: 0px;
    padding-bottom: 50px;
    color: #464646;
}

.stat {
    display: flex;
    flex-wrap: wrap;
}

.stat__item {
    width: 100%;
    max-width: 25%;
    text-align: center;
    color: #5b5b5b;
    font-weight: 600;
    padding: 60px 5px;
    transition: all 0.3s linear;
    cursor: pointer;
    border-radius: 5px;
    border-left: 1.5px solid #FFF;
}

.stat__item:hover {
    background: white;
}

.four, .eight {
    border-right: 1.3px solid #F9EFE0;
}

.top {
    border-top: 1.3px solid #F9EFE0;
}

.bottom {
    border-bottom: 1.3px solid #F9EFE0;
}

.stat__count {
    font-size: 70px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
    color: #DC9C50;
}

.ths {
    font-size: 32px;
}

.stat__text {
    font-size: 15px;
    text-transform: uppercase;
    color: #DC9C50;
}

.our_fleet {
    padding-top: 67px;
    padding-bottom: 67px;
    background: #e5e5e5;
    z-index: 1;
}

.fleet_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fleet_text {
    width: 550px;

}

.fleet_paragraph {
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    line-height: 1.62em;
    color: #444;
    padding-bottom: 18px;
}

.fleet_slider {
    width: 600px;
}

.fleet_title {
    font-size: 22px;
    font-weight: 700;
    color: #4373C2;
    padding-bottom: 12px;
}

.yellow {
    color: #DC9C50;
}

.slider-wrapper, .dot {
    display: inline-block;
    vertical-align: middle;
}

.slider-line {
    display: flex;
    position: relative;
    left: 0;
    transition: 1.5s;
}

.dot:hover {
    background: #8E8E8E;
}

.dot:activesl {
    background: #FF9839;
}

.dot {
    width: 13px;
    height: 13px;
    background: #C8C8C8;
    border-radius: 50%;
    margin: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.dots-wrapper {
    text-align: center;
}

.slider-wrapper {
    overflow: hidden;
    width: 584.77px;
    margin: 15px;
    border-radius: 15px;
    width: 100%;
    max-width: 584.77px;
}

.activesl {
    background: #8E8E8E;

}

.photo {
    height: 300px;
    overflow: clip;
    z-index: 2;
}

.footer {
    background-color: #fff;
    display: flex;
    box-shadow: 0 0 15px rgb(0 0 0 / 35%);
    width: 100%;
    z-index: 3;
}

.footer_inner {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.button {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 13px 40px;
    border-radius: 5px;
    transition: background 0.1s linear;
    text-align: center;
    background: #4373C2;
}

