{% load static %}
{{ '<' }}{{ '!DOCTYPE html>' }}
<html lang="uk">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/about us.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<title>Про нас</title>
</head>
<body>

    <header class="header">
        <div class="container">
            <div class="header_wrapper">
                <div class="logo"><a class="logo_link" href="index.html">CAR<span class="go">GO</span></a></div>
                    <div class="ham">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                <ul class="nav">
                    <li><a href="{% url 'display user page' %}">Головна</a></li>
                    <li class="active"><a href="#">Про нас</a></li>

                </ul>
            </div>
        </div>
    </header>

    <section class="about">
        <div class="container">
            <div class="about_wrapper">
                <div class="about_text">
                    <h3 class="about_title">CAR<span class="header_go">GO</span></h3>
                    <p class="about_paragraph">CARGO – це одна з найбільших транспортних компаній України з перевезення вантажів будь-якої ваги та розмірності, що здійснює перевезення по території України.</p>
                </div>

                <div class="about_image">
                    <img class="cargo_image" src="{% static 'images/cargo.png' %}" alt="cargo">
                </div>
            </div>
        </div>
    </section>
</body>
</html>