{% load static %}
{{ '<' }}{{ '!DOCTYPE html>' }}
<html lang="uk">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/about us.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<title>Про нас</title>
</head>
<body>

    <header class="header">
        <div class="container">
            <div class="header_wrapper">
                <div class="logo"><a class="logo_link" href="index.html">CAR<span class="go">GO</span></a></div>
                    <div class="ham">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                <ul class="nav">
                    <li><a href="{% url 'display user page' %}">Головна</a></li>
                    <li class="active"><a href="#">Про нас</a></li>

                </ul>
            </div>
        </div>
    </header>

    <section class="about">
        <div class="container">
            <div class="about_wrapper">
                <div class="about_text">
                    <h3 class="about_title">CAR<span class="header_go">GO</span></h3>
                    <p class="about_paragraph">CARGO – це одна з найбільших транспортних компаній України з перевезення вантажів будь-якої ваги та розмірності, що здійснює перевезення по території України.</p>
                </div>

                <div class="about_image">
                    <img class="cargo_image" src="{% static 'images/cargo.png' %}" alt="cargo">
                </div>
            </div>
        </div>
    </section>

    <section class="history">
        <div class="container">
        <h3 class="history_title">Історія компанії</h3>

        <div class="history_wrapper">
            <img class="history_image" src="{% static 'images/start.png' %}" alt="first steps of company">
            <div class="paragraphs">
                <p class="history_paragraph"><span class="header_go">Вересень 1971 р.</span> – Заснування компанії CARGO.</p>
                <p class="history_paragraph"><span class="header_go">Жовтень 1972 р.</span> – Будівництво перших складських приміщень та сервіс-центру з обслуговування вантажних автомобілів.</p>
                <p class="history_paragraph"><span class="header_go">Січень 1973 р.</span> – Закупівля перших 100 одиниць важкої техніки, розширення відділу кадрів компанії.</p>
                <p class="history_paragraph"><span class="header_go">Березень 1975 р.</span> – Підписання контрактів на співпрацю з першими партнерами.</p>
                <p class="history_paragraph"><span class="header_go">Травень 1976 р.</span> – Виконання перших замовлень.</p>
            </div>
        </div>

        <div class="history_wrapper">
            <div class="paragraphs">
                <p class="history_paragraph"><span class="header_go">Квітень 1978 р.</span> – Поповнення автопарку технікою іноземного зразка.</p>
                <p class="history_paragraph"><span class="header_go">Вересень 1980 р.</span> – Розширення та вдосконалення інфраструктури сервісних центрів та складів.</p>
                <p class="history_paragraph"><span class="header_go">Грудень 1982 р.</span> – Перехід на нові європейські стандарти.</p>
                <p class="history_paragraph"><span class="header_go">Лютий 1985 р.</span> – Поступова автоматизація процесу оформлення замовлень.</p>
                <p class="history_paragraph"><span class="header_go">Квітень 1988 р.</span> – Оновлення матеріально-технічної бази компанії.</p>
            </div>
            <img class="history_image" src="{% static 'images/development.png' %}" alt="development">
        </div>

        <div class="history_wrapper">
            <img class="history_image" src="{% static 'images/success.png' %}" alt="way to access">
            <div class="paragraphs">
                <p class="history_paragraph"><span class="header_go">Вересень 1991 р.</span> – Стабільне виконання поставок вантажів в Україні.</p>
                <p class="history_paragraph"><span class="header_go">Квітень 2005 р.</span> – Суттєве збільшення вантажних автомобілів вантажів спеціального призначення.</p>
                <p class="history_paragraph"><span class="header_go">Січень 2009 р.</span> – Повна автоматизація роботи компанії.</p>
                <p class="history_paragraph"><span class="header_go">Травень 2014 р.</span> – Закупівля та встановлення надсучасного обладнання для технічних експертиз, огляду та ремонту важкої техніки.</p>
                <p class="history_paragraph"><span class="header_go">Червень 2020 р.</span> – Повний вихід на місцевого замовника.</p>
            </div>
        </div>

        </div>
    </section>
</body>
</html>