{% load static %}
{{ '<' }}{{ '!DOCTYPE html>' }}
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/service.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Сервіс</title>
</head>
<body>

    <header class="header">
        <div class="container">
            <div class="header_wrapper">
                <div class="logo"><a class="logo_link" href="index.html">CAR<span class="go">GO</span></a></div>
                    <div class="ham">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul class="nav">
                        <li><a href="{% url 'display user page' %}">Головна</a></li>
                        <li><a href="{% url 'ab_us' %}">Про нас</a></li>
                        <li class="active"><a href="{% url 'service' %}">Сервіс</a></li>
                    </ul>
            </div>
        </div>
    </header>

    <section class="service_items">
        <div class="container">
            <div class="intro_wrapper">
                <div class="intro_text">
                    <h1 class="intro_title">Наша робота нас заряджає!</h1>
                        <hr class="line">
                        <div class="intro_adj">
                        <p class="intro_subtitle">Бездоганність</p>
                        <hr>
                        <p class="intro_subtitle">Надійність</p>
                        <hr>
                        <p class="intro_subtitle">Своєчасність</p>
                        </div>
                </div>
                <div class="categories">
                    <a class="category_link" href="#standard">Стандартні</a>
                    <a class="category_link" href="#animals">Тварини</a>
                    <a class="category_link" href="#construction_materials">Буд-матеріали</a>
                    <a class="category_link" href="#technical_cargos">Техніка</a>
                    <a class="category_link" href="#oversize_cargos">Надгабаритні</a>
                    <a class="category_link" href="#dangerous_cargos">Небезпечні</a>
                </div>
            </div>
        </div>
        <div id="standard"></div>
    </section>

    <section class="services">
        <div class="container">

        <div class="services_item">
            <img class="service_image" src="{% static 'images/service1.jpg' %}" alt="standard">
            <div class="paragraphs">
                <h2 class="service_title">Стандартна доставка</h2>
                <p class="service_paragraph">– доставка продуктів;</p>
                <p class="service_paragraph">– доставка меблів;</p>
                <p class="service_paragraph">– доставка квітів та клумб;</p>
                <p class="service_paragraph">– доставка побутової техніки;</p>
                <p class="service_paragraph">– доставка посилок.</p>
                <h2 class="service_price">Ціна</h2>
                <p class="service_paragraph">7 грн за 1 км дороги</p>
                <div id="animals"></div>
            </div>
        </div>

        <div class="services_item">
            <img class="service_image" src="{% static 'images/service2.jpg' %}" alt="animals">
            <div class="paragraphs">
                <h2 class="service_title">Доставка тварин</h2>
                <p class="service_paragraph">– доставка корів;</p>
                <p class="service_paragraph">– доставка свиней;</p>
                <p class="service_paragraph">– доставка кабанів;</p>
                <p class="service_paragraph">– доставка курей;</p>
                <p class="service_paragraph">– доставка іншого скоту.</p>
                <h2 class="service_price">Ціна</h2>
                <p class="service_paragraph">8 грн за 1 км дороги</p>

                <div id="construction_materials"></div>
            </div>
        </div>

        <div class="services_item">
            <img class="service_image" src="{% static 'images/service3.jpg' %}" alt="construction materials">
            <div class="paragraphs">
                <h2 class="service_title">Доставка буд-матеріалів</h2>
                <p class="service_paragraph">– доставка сумішей для будівництва;</p>
                <p class="service_paragraph">– доставка будівельних матеріалів;</p>
                <p class="service_paragraph">– доставка бетонних плит до буд-майданчиків;</p>
                <p class="service_paragraph">– доставка інструментів та елементів огороджень;</p>
                <p class="service_paragraph">– доставка віконних конструкцій.</p>
                <h2 class="service_price">Ціна</h2>
                <p class="service_paragraph">9 грн за 1 км дороги</p>
                <div id="technical_cargos"></div>
            </div>
        </div>

        <div class="services_item">
            <img class="service_image" src="{% static 'images/service4.jpg' %}" alt="technical cargos">
            <div class="paragraphs">
                <h2 class="service_title">Доставка техніки</h2>
                <p class="service_paragraph">– доставка автомобілів;</p>
                <p class="service_paragraph">– доставка бульдозерів;</p>
                <p class="service_paragraph">– доставка вагонів;</p>
                <p class="service_paragraph">– доставка легкої ремонтної техніки;</p>
                <p class="service_paragraph">– доставка верстатів.</p>
                <h2 class="service_price">Ціна</h2>
                <p class="service_paragraph">10 грн за 1 км дороги</p>
                <div id="oversize_cargos"></div>
            </div>
        </div>

        <div class="services_item">
            <img class="service_image" src="{% static 'images/service5.jpg' %}" alt="oversize cargos">
            <div class="paragraphs">
                <h2 class="service_title">Надгабаритні вантажі</h2>
                <p class="service_paragraph">– доставка електро-генераторів;</p>
                <p class="service_paragraph">– доставка двигунів вітрильних установок;</p>
                <p class="service_paragraph">– доставка фюзеляжів;</p>
                <p class="service_paragraph">– доставка турбін;</p>
                <p class="service_paragraph">– доставка опорних платформ.</p>
                <h2 class="service_price">Ціна</h2>
                <p class="service_paragraph">15 грн за 1 км дороги</p>
                <div id="dangerous_cargos"></div>
            </div>
        </div>

        <div class="services_item">
            <img class="service_image" src="{% static 'images/service6.jpg' %}" alt="dangerous cargos">
            <div class="paragraphs">
                <h2 class="service_title">Небезпечні вантажі</h2>
                <p class="service_paragraph">– доставка нафто-продуктів;</p>
                <p class="service_paragraph">– доставка хімікатів;</p>
                <p class="service_paragraph">– доставка скрапленого газу;</p>
                <p class="service_paragraph">– доставка ацетону;</p>
                <p class="service_paragraph">– доставка берилію.</p>
                <h2 class="service_price">Ціна</h2>
                <p class="service_paragraph">12 грн за 1 км дороги</p>
            </div>
        </div>

        </div>
    </section>

</body>
</html>