{% load static %}
{{ '<' }}{{ '!DOCTYPE html>' }}
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/service.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Сервіс</title>
</head>
<body>

    <header class="header">
        <div class="container">
            <div class="header_wrapper">
                <div class="logo"><a class="logo_link" href="index.html">CAR<span class="go">GO</span></a></div>
                    <div class="ham">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul class="nav">
                        <li><a href="{% url 'display user page' %}">Головна</a></li>
                        <li><a href="{% url 'ab_us' %}">Про нас</a></li>
                        <li class="active"><a href="{% url 'service' %}">Сервіс</a></li>
                    </ul>
            </div>
        </div>
    </header>

    <section class="service_items">
        <div class="container">
            <div class="intro_wrapper">
                <div class="intro_text">
                    <h1 class="intro_title">Наша робота нас заряджає!</h1>
                        <hr class="line">
                        <div class="intro_adj">
                        <p class="intro_subtitle">Бездоганність</p>
                        <hr>
                        <p class="intro_subtitle">Надійність</p>
                        <hr>
                        <p class="intro_subtitle">Своєчасність</p>
                        </div>
                </div>
                <div class="categories">
                    <a class="category_link" href="#standard">Стандартні</a>
                    <a class="category_link" href="#animals">Тварини</a>
                    <a class="category_link" href="#construction_materials">Буд-матеріали</a>
                    <a class="category_link" href="#technical_cargos">Техніка</a>
                    <a class="category_link" href="#oversize_cargos">Надгабаритні</a>
                    <a class="category_link" href="#dangerous_cargos">Небезпечні</a>
                </div>
            </div>
        </div>
        <div id="standard"></div>
    </section>



</body>
</html>