{% load static %}
{{ '<' }}{{ '!DOCTYPE html>' }}
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user page.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="img/title.svg">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>CARGO</title>
</head>
<body>
    <header class="header" id="#top">
        <div class="container">
            <div class="header_wrapper">
                <div class="logo"><a class="logo_link" href="#">CAR<span class="header_go">GO</span></a></div>
                    <div class="ham">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                <ul class="nav">
                    <li class="active"><a href="#">Головна</a></li>
                    <li><a href="{% url 'ab_us' %}">Про нас</a></li>
                    <li><a href="{% url 'service' %}">Сервіс</a></li>
                    <li><a href="{% url 'review' %}">Відгуки</a></li>
                </ul>
            </div>
        </div>
    </header>

    <section class="intro">
        <div class="container">
            <div class="intro_wrapper">
                <div class="intro_text">
                    <h1 class="intro_title">Швидка та надійна доставка вантажів від CAR<span class="header_go">GO</span></h1>
                    <h3 class="intro_subtitle">Досконала доставка – це про нас, тому довірся нашим водіям та отримаєш свій вантаж вчасно.</h3>
                    <a class="button" href="{% url 'author_2' %}">Замовити доставку</a>
                </div>
                <div class="intro_image">
                    <img class="lorry" src="{% static 'images/lorry.svg' %}" alt="lorry">
                </div>
            </div>
        </div>
    </section>

    <section class="cargo_statistics">
        <div class="container">
            <div class="header_text">
                CAR<span class="header_go">GO</span> – це
            </div>
            <div class="stat">
                <div class="stat__item bottom">
                    <div class="stat__count">42</div>
                    <div class="stat__text">Задоволених клієнтів</div>
                </div>
                <div class="stat__item bottom">
                    <div class="stat__count">200</div>
                    <div class="stat__text">Одиниць техніки</div>
                </div>
                <div class="stat__item bottom">
                    <div class="stat__count">10</div>
                    <div class="stat__text">Надійних партнерів</div>
                </div>
                <div class="stat__item bottom four">
                    <div class="stat__count">54</div>
                    <div class="stat__text">Роки досвіду</div>
                </div>
                <div class="stat__item top">
                    <div class="stat__count">8</div>
                    <div class="stat__text">Сервісних центрів</div>
                </div>
                <div class="stat__item top">
                    <div class="stat__count">12</div>
                    <div class="stat__text">Складів</div>
                </div>
                <div class="stat__item top">
                    <div class="stat__count">25</div>
                    <div class="stat__text">Світових нагород</div>
                </div>
                <div class="stat__item top eight">
                    <div class="stat__count">5000</div>
                    <div class="stat__text">Співробітників</div>
                </div>
            </div>
        </div>
    </section>

    <section class="our_fleet">
        <div class="container">
            <div class="header_text">
                Ми пишаємося своїм автопарком
            </div>
            <div class="fleet_wrapper">
                 <div class="fleet_text">
                     <h1 class="fleet_title">Швидкість, потужність, сила – це про них!</h1>
                     <br>
                     <p class="fleet_paragraph">Створені для транспортування всього важкого, вони точно впораються з будь-яким вашим вантажем.</p>
                     <p class="fleet_paragraph">Крім того, наші "силачі" регулярно проходять технічні огляди у сервісних центрах України під наглядом наших спеціалістів а також закордоном.</p>
                     <p class="fleet_paragraph">Разом з тим, наш автопарк регулярно поповнюється зарахунок  стабільного фінансування компанії.</p>
                 </div>
                 <div class="fleet_slider">
                     <div class="slider-wrapper">
                         <div class="slider-line">
                         <img class="photo" src="{% static 'images/truck1.png' %}" alt="truck1">
                         <img class="photo" src="{% static 'images/truck2.png' %}" alt="truck2">
                         <img class="photo" src="{% static 'images/truck3.png' %}" alt="truck3">
                         <img class="photo" src="{% static 'images/truck4.png' %}" alt="truck4">
                         <img class="photo" src="{% static 'images/truck5.png' %}" alt="truck5">
                         <img class="photo" src="{% static 'images/truck6.png' %}" alt="truck6">
                         </div>
                     </div>
                     <div class="dots-wrapper">
                         <div class="dot activesl"></div>
                         <div class="dot"></div>
                         <div class="dot"></div>
                         <div class="dot"></div>
                         <div class="dot"></div>
                         <div class="dot"></div>
                     </div>
                 </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
           <div class="footer_inner">
               <p>З нами вже працюють {{ res }} </p>
           </div>
        </div>
    </footer>

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>